body {
    display: flex;
    top:5rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(134,6,165,1) 0%, rgba(173,79,232,1) 33%, rgba(77,212,225,1) 54%, rgba(27,239,255,1) 100%);
    
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
   
  }
  
  #yesButton {
    position: absolute;
    margin-right: 150px;

  }
  .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header_text {
    font-family:cursive;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px rgb(255, 255, 255);
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    color: #000000;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    margin-top: 2rem;
    margin-left: 20px;
  }
  
  .btn {
    background:linear-gradient(rgb(214, 144, 234),40%, rgb(94, 3, 117));
    height: 4rem;
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: cursive;
    margin-top: 2rem;
    cursor: pointer;
    border: 1px solid rgb(194, 91, 218);
    border-radius: 12px;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 10px black;
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  .gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 